<!DOCTYPE html>
<html lang="en">
<head>
    <title>GSD KINGS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="httdp://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <style>
        .copy-left {
    display: inline-block;
    text-align: right;
    margin: 0;
    font-size: 1.25em;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: FlipH;
}
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><b>GSD KINGS</b></h1>
        <p class="lead">GSD KINGS는 쎄트렉아이 지상사업부문 멤버를 대상으로 왕을 선정하는 서비스입니다.<br>
        문의 사항은 gt3@satreci.com으로 보내주세요.</p>
        <a class="btn btn-lg btn-success" href="/" role="button">메인</a>
        <a class="btn btn-lg btn-success" href="/overtimes" role="button">야근왕</a>
        <a class="btn btn-lg btn-success" href="/comments" role="button">조언왕</a>
    </div>

    <footer class="footer">
        <p>Copyleft <span class="copy-left">&copy;</span> 2016 by Satreci TKLEE, GSPARK, CHKIM, WOONGHU, WRHAN, SHLEE</p>
    </footer>
</div>
</body>
</html>